<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-8">
            <div class="w-full mb-6 lg:mb-0">
                <div class="flex justify-between">
                    <div>
                        <h1 class="sm:text-4xl text-5xl font-medium title-font mb-2 text-gray-900">All Teachers</h1>
                        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
                    </div>
                    <div class="flex flex-col">
                        <h1 class="sm:text-4xl text-5xl font-medium title-font mb-2 text-gray-900">
                            <a href="/teachers/add">
                                Add Teacher
                            </a>
                        </h1>
                        <div class="h-1 w-20 bg-indigo-500 rounded self-end"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- component -->
        <table class="min-w-full border-collapse block md:table">
            <thead class="block md:table-header-group">
                <tr
                    class="border rounded border-indigo-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
                    <th
                        class="bg-indigo-500 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                        First Name</th>
                    <th
                        class="bg-indigo-500 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                        Last Name</th>
                    <th
                        class="bg-indigo-500 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                        Email Address</th>
                    <th
                        class="bg-indigo-500 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                        Actions</th>
                </tr>
            </thead>
            <tbody class="block md:table-row-group">
                <% data.forEach(teacher=> { %>
                    <tr class="bg-gray-100 border rounded border-indigo-500 md:border-none block md:table-row">
                        <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span
                                class="inline-block w-1/3 md:hidden font-bold">First Name</span>
                            <%= teacher.first_name %>
                        </td>
                        <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span
                                class="inline-block w-1/3 md:hidden font-bold">Last Name</span>
                            <%= teacher.last_name %>
                        </td>
                        <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span
                                class="inline-block w-1/3 md:hidden font-bold">Email Address</span>
                            <%= teacher.email %>
                        </td>
                        <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                            <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
                            <a href="/student/edit/<%= teacher.id %> ">
                                <button
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">Edit</button>
                            </a>

                            <button
                                class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded">Delete</button>
                        </td>
                    </tr>

                    <% }) %>
            </tbody>
        </table>
    </div>
    <div>
        <% if (messages.success){ %>
                <p class="flash w-fit shadow-lg text-4xl p-3 z-10"><%- messages.success %> </p>
        <% } %> 
    </div>
</section>